:root,
.light,
.light-theme {
  --gray-1: #fcfcfd;
  --gray-2: #f9f9fc;
  --gray-3: #eff0f4;
  --gray-4: #e7e8ed;
  --gray-5: #dfe0e7;
  --gray-6: #d8d9e1;
  --gray-7: #cdced8;
  --gray-8: #b9bbc8;
  --gray-9: #8b8d99;
  --gray-10: #81828e;
  --gray-11: #62646d;
  --gray-12: #1f2026;

  --gray-a1: #00005503;
  --gray-a2: #00008006;
  --gray-a3: #00105010;
  --gray-a4: #000b4018;
  --gray-a5: #00084020;
  --gray-a6: #00073b27;
  --gray-a7: #00063932;
  --gray-a8: #00083746;
  --gray-a9: #00051f74;
  --gray-a10: #00031b7e;
  --gray-a11: #0004129d;
  --gray-a12: #000108e0;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8b8d99;
  --gray-track: #8b8d99;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --gray-1: oklch(99.2% 0.0017 279.2);
      --gray-2: oklch(98.3% 0.0031 279.2);
      --gray-3: oklch(95.6% 0.0055 279.2);
      --gray-4: oklch(93.2% 0.0073 279.2);
      --gray-5: oklch(90.9% 0.0094 279.2);
      --gray-6: oklch(88.6% 0.0108 279.2);
      --gray-7: oklch(85.4% 0.0134 279.2);
      --gray-8: oklch(79.4% 0.0181 279.2);
      --gray-9: oklch(64.6% 0.0182 279.2);
      --gray-10: oklch(61.1% 0.0173 279.2);
      --gray-11: oklch(50.5% 0.015 279.2);
      --gray-12: oklch(24.5% 0.0125 279.2);

      --gray-a1: color(display-p3 0.0235 0.0235 0.349 / 0.012);
      --gray-a2: color(display-p3 0.0235 0.0235 0.5137 / 0.024);
      --gray-a3: color(display-p3 0.0078 0.0667 0.3176 / 0.063);
      --gray-a4: color(display-p3 0.0118 0.051 0.2588 / 0.095);
      --gray-a5: color(display-p3 0.0078 0.0353 0.2235 / 0.126);
      --gray-a6: color(display-p3 0.0039 0.0275 0.2078 / 0.153);
      --gray-a7: color(display-p3 0.0078 0.0275 0.2039 / 0.197);
      --gray-a8: color(display-p3 0.0039 0.0314 0.2039 / 0.275);
      --gray-a9: color(display-p3 0.0039 0.0196 0.1137 / 0.455);
      --gray-a10: color(display-p3 0.0039 0.0118 0.098 / 0.495);
      --gray-a11: color(display-p3 0 0.0157 0.0667 / 0.616);
      --gray-a12: color(display-p3 0 0.0039 0.0275 / 0.879);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.0182 279.2);
      --gray-track: oklch(64.6% 0.0182 279.2);
    }
  }
}
.dark,
.dark-theme {
  --gray-1: #101117;
  --gray-2: #18191f;
  --gray-3: #21222a;
  --gray-4: #272933;
  --gray-5: #2f303b;
  --gray-6: #383944;
  --gray-7: #454752;
  --gray-8: #5e606c;
  --gray-9: #6c6e79;
  --gray-10: #797b87;
  --gray-11: #b1b3c0;
  --gray-12: #edeef4;

  --gray-a1: #0012ec07;
  --gray-a2: #8899ff0f;
  --gray-a3: #a9b2fe1b;
  --gray-a4: #a8b6fb25;
  --gray-a5: #bbc1ff2d;
  --gray-a6: #c6cbfe37;
  --gray-a7: #cfd6fe46;
  --gray-a8: #dadffe62;
  --gray-a9: #e0e4fd70;
  --gray-a10: #e1e5fd7f;
  --gray-a11: #ebedffbc;
  --gray-a12: #f7f8fef4;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6c6e79;
  --gray-track: #6c6e79;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(17.8% 0.0124 277.7);
      --gray-2: oklch(21.4% 0.0115 277.7);
      --gray-3: oklch(25.4% 0.0157 277.7);
      --gray-4: oklch(28.4% 0.0185 277.7);
      --gray-5: oklch(31.3% 0.0185 277.7);
      --gray-6: oklch(34.9% 0.0185 277.7);
      --gray-7: oklch(40% 0.0185 277.7);
      --gray-8: oklch(49.1% 0.0185 277.7);
      --gray-9: oklch(53.9% 0.0185 277.7);
      --gray-10: oklch(58.5% 0.0185 277.7);
      --gray-11: oklch(76.9% 0.0185 277.7);
      --gray-12: oklch(94.9% 0.0079 277.7);

      --gray-a1: color(display-p3 0 0.0706 0.9725 / 0.026);
      --gray-a2: color(display-p3 0.5686 0.6392 0.9961 / 0.055);
      --gray-a3: color(display-p3 0.6902 0.7294 1 / 0.101);
      --gray-a4: color(display-p3 0.6902 0.7451 1 / 0.139);
      --gray-a5: color(display-p3 0.749 0.7725 0.9961 / 0.173);
      --gray-a6: color(display-p3 0.7922 0.8118 0.9961 / 0.211);
      --gray-a7: color(display-p3 0.8275 0.8549 1 / 0.269);
      --gray-a8: color(display-p3 0.8627 0.8824 0.9961 / 0.379);
      --gray-a9: color(display-p3 0.8902 0.9098 1 / 0.433);
      --gray-a10: color(display-p3 0.8941 0.9098 1 / 0.492);
      --gray-a11: color(display-p3 0.9216 0.9333 0.9961 / 0.732);
      --gray-a12: color(display-p3 0.9725 0.9765 1 / 0.95);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(53.9% 0.0185 277.7);
      --gray-track: oklch(53.9% 0.0185 277.7);
    }
  }
}
